<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-white has-text-centered">
        Surfiiiiin Birds
      </h1>
    </div>
  </div>
</section>
<div class="row is-half">
  
    <div class="column is-half">
      <article class="message is-primary">
          <div class="message-header">
            <p>Les pratiquants</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            Les "pratiquants" sont les personnes s'adonnant à des activités nautiques et de plage. Ils sont actuellement <strong>350</strong> à referencer leurs habitudes sur notre plateforme afin de nous aider à monitorer la qualité des plages. <strong>Rejoignez les</strong>
          </div>
        </article>
    </div>
    <div class="column is-half">
      <article class="message is-link">
          <div class="message-header">
            <p>Session</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
           Une fois inscrit, vous pourrez renseigner chaque session d'activité ici, via <strong>Ajouter une session</strong>. Ainsi, vous nous aiderez à controler l'etat des plages et aurez accès à stats personnalisées.
          </div>
        </article>
    </div>
    <div class="column is-half">
      <article class="message is-info">
          <div class="message-header">
            <p>Spots</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            Votre <strong>poste favoris</strong> n'apparait pas dans la liste ? Aucun problème ! Deposer une demande pour qu'il y soit ajouté. Nos administrateurs s'engagent à repondre dans les 48h.
          </div>
        </article>
    </div>
</div>
