<div class="columns is-mobile is-centered">
    <div class="column is-half">

        <div class="field">
            <label class="label">Ville</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Sélectionnez une ville</option>
                  <option>Montpellier</option>
                  <option>Marseille</option>
                  <option>Brest</option>
                  <option>Nice</option>
                  <option>Bordeaux</option>
                  <option>Monaco</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Spot</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Sélectionnez un spot</option>
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                  <option>E</option>
                  <option>F</option>
                </select>
              </div>
            </div>
          </div>
        
          <div class="field">
            <label class="label">Date de l'activité</label>
            <div class="control">
              <input class="input is-rounded" type="date" placeholder="Saisissez la date de l'activité">
            </div>
          </div>

          <div class="field">
            <label class="label">Heure de début</label>
            <div class="control">
              <input class="input is-rounded" type="time" placeholder="Saisissez l'heure de début de l'activité">
            </div>
          </div>

          <div class="field">
            <label class="label">Heure de fin</label>
            <div class="control">
              <input class="input is-rounded" type="time" placeholder="Saisissez l'heure de fin de l'activité">
            </div>
          </div>

          <div class="control">
            <label class="label">Avez-vous utilisé de la crème solaire</label>
            <label class="radio">
              <input type="radio" name="answer">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="answer">
              Non
            </label>
          </div>

          <div class="control">
            <label class="label">Avez-vous utilisé du parfum </label>
            <label class="radio">
              <input type="radio" name="answer">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="answer">
              Non
            </label>
          </div>

          <div class="control">
            <label class="label">Avez-vous utilisé de la crème hidradante </label>
            <label class="radio">
              <input type="radio" name="answer">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="answer">
              Non
            </label>
          </div>

          <div class="control">
            <label class="label">Avez-vous utilisé du maquillage</label>
            <label class="radio">
              <input type="radio" name="answer">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="answer">
              Non
            </label>
          </div>

          <div class="control">
            <label class="label">Avez-vous manipulé de l'essence</label>
            <label class="radio">
              <input type="radio" name="answer">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="answer">
              Non
            </label>
          </div>

          <div class="control">
            <label class="label">Avez-vous utilisé une cigarette</label>
            <label class="radio">
              <input type="radio" name="answer">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="answer">
              Non
            </label>
          </div>

          <div class="control">
            <label class="label">Avez-vous manipulé de la peinture</label>
            <label class="radio">
              <input type="radio" name="answer">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="answer">
              Non
            </label>
          </div>

          <div class="control">
            <label class="label">Avez-vous manipulé de l'engrais</label>
            <label class="radio">
              <input type="radio" name="answer">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="answer">
              Non
            </label>
          </div>

          <div class="control">
            <label class="label">Autres précisions :</label>
            <textarea class="textarea" placeholder="Ajoutez des informations complémentaires"></textarea>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>

    </div>
</div>